<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sakila.mapper.InventoryMapper">

	<select id="selectInventoryCount" parameterType="com.example.sakila.vo.Inventory" resultType="int">
		SELECT count(*)
			FROM store s INNER JOIN inventory i
			ON s.store_id = i.store_id
			WHERE s.store_id = ${storeId}
	</select>

	<!-- /on/inventoryList -->
	<!-- 추가 과제 -->
	<!-- 1. Film X rental X payment 조인  -->
	<!-- 2. 검색기능 -->
	<select id="selectInventoryListByStore"
		parameterType="Map"
		resultType="Map">
		SELECT
			i.inventory_id inventoryId
			, i.film_id filmId
			, f.title title
			, i.last_update lastUpdate
		FROM inventory i INNER JOIN film f
		ON i.film_id = f.film_id
		WHERE i.store_id = #{storeId}
		ORDER BY i.inventory_id DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
<!--  remove -->
	<select id="selectCountInventoryByFilm" parameterType="Integer">
		SELECT COUNT(*)
		FROM inventory
		WHERE film_id = #{filmId}
	</select>
</mapper>